<div class="form-group">
    <div class="row">
        <label class="custom-control custom-radio">City</label>
        <label class="custom-control offset-4 custom-radio">Street</label>
    </div>
    <div class="row ml-0">
        <input type="text" name="name" id="NameInput" placeholder="city" class="form-control col-5 ">
        <input type="text" name="surname" id="SurnameInput" placeholder="flat" class="form-control offset-1 col-6">
    </div>
</div>
<div class="form-group">
    <label for="dateInput">Room amount</label>
    <div class="row ml-0">

        <input type="number" name="name" id="NameInput" placeholder="from" min="0" class="form-control col-5 ">
        <input type="number" name="surname" id="SurnameInput" placeholder="to" min="0" class="form-control offset-1 col-6">
    </div>
</div>
<div class="form-group">
    <label for="dateInput">Stage</label>
    <div class="row ml-0">
        <input type="number" name="name" id="NameInput" placeholder="from" min="0" class="form-control col-5 ">
        <input type="number" name="surname" id="SurnameInput" placeholder="to" min="0" class="form-control offset-1 col-6">
    </div>
</div>
<div class="form-group">
    <label for="dateInput">Total floors</label>
    <div class="row ml-0">
        <input type="number" name="name" id="NameInput" placeholder="from" min="0" class="form-control col-5 ">
        <input type="number" name="surname" id="SurnameInput" placeholder="to" min="0" class="form-control offset-1 col-6">
    </div>
</div>
<div class="form-group">
    <label for="dateInput">Size</label>
    <div class="row ml-0">
        <input type="number" name="name" id="NameInput" placeholder="from" min="0" class="form-control col-5 ">
        <input type="number" name="surname" id="SurnameInput" placeholder="to" min="0" class="form-control offset-1 col-6">
    </div>
</div>
<div class="form-group">
    <label for="recipient-name" class="form-label">Agent: </label>
    <select name="profile id" class="custom-select form-control" id="owner-select">
        <option value="" selected>Choose agent.</option>
        <% Profiles.forEach(function (profile) {%>
        <option value="<%= profile.profile_id %>"><%= profile.name + " " + profile.surname %></option>
        <% }) %>
    </select>
</div>