<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-scripts%>
    <%-stylesheets%>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap-grid.min.css">
    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <title>Rielt</title>
</head>
<body>
    <%-partial('../partials/topNav')%>
    <%-body -%>
    <script>
        $('#ModalLong').on('hidden.bs.modal', function (e) {
            var d = arguments;
        })
        $('#ModalLong').on('show.bs.modal', function (e) {
            var from_button = e.relatedTarget;
            var form_inputs = $('.form-control');
            var table = $(".table");
            var table_name = table.attr('id');
            table_name = table_name.toLowerCase();
            if (from_button.id.indexOf('edit-form') + 1){
                $('#universal-submit').html('Change ' + table_name);
                $('.table').addClass('edit').removeClass('add').removeClass('search');
                var column_number = $(from_button.children[0]).val();
                $("#hidden-input-in-form").val(column_number);
                var this_columns = $("." + column_number);
                var i_column = 0;
                var disable_status;
                for (var i = 0; i < form_inputs.length; i++){
                    var current_column = this_columns[i_column];
                    var current_input =  form_inputs[i];
                    var localName = current_input.localName;
                    var localType = current_input.type;
                    if (localName === 'input'){
                        if (localType === 'text') {
                            current_input.value = current_column.innerText;
                            i_column++;
                        }
                        else if (localType === "date"){
                            if (disable_status !== undefined) {
                                current_input.disabled = disable_status;
                            }
                            current_input.value = current_column.innerText;
                            i_column++;
                        }
                        else if (localType === 'number'){
                            current_input.value = Number(current_column.innerText);
                            i_column++;
                        }
                        else {
                            if (current_input.value === "1" && current_column.innerText === "1"){
                                disable_status = true;
                                current_input.checked = true;
                                i_column++;
                            }
                            else if (current_input.value === "0" && current_column.innerText === "0"){
                                disable_status = false;
                                current_input.checked = true;
                                i_column++;
                            }
                        }

                    } else if (localName === 'select'){
                        var children_cur_input = current_input.children
                        for (var key in children_cur_input){
                            var this_option = children_cur_input[key];
                            if (this_option.innerText === current_column.innerText) {
                                this_option.selected = true;
                                break;
                            }
                        };
                        i_column++;
                    }
                    else if (localName ==='radio'){

                    }
                }
            }
            else if (from_button.id.indexOf('req-form') + 1){
                $('#universal-submit').html('Create  ' + table_name)
                $('.table').addClass('add').removeClass('edit').removeClass('search');;
                form_inputs.not("input[type=radio]").val('');
            }
            else if(from_button.id.indexOf('search-form') + 1){
                $('#universal-submit').html('Search  ' + table_name)
                $('.table').addClass('search').removeClass('edit').removeClass('add');
                form_inputs.not("input[type=radio]").val('');
            } else if(from_button.id.indexOf('redirect-form') + 1){

            }
            $('#radio1').val("1");
            $('#radio2').val("0");
        })

    </script>
</body>
</html>