#print-wrapper {
    display: none;
    padding: 1rem;
}
#title-contract-print{
    border-bottom: 1px solid;
    padding-bottom: 8px;
    margin: 0 15px;
    margin-bottom: 10px;
}
.li-deal-print {
    margin-left: 17px;
    margin-top: 20px;
}
.ol-deal-print {
    padding: 0;
}
.lead.signature {
    margin-top: 5rem;
    border-top: 1px solid black;
}
.w-35 {
    width: 35% !important;
}

.name-h5 {
    margin-bottom: 20px !important;
}

#more-results-wrapper {
    align-items: baseline;
    font-size: 19px;
}
.more-results-td{
    color: #0275d8;
}
.more-results-td:hover{
    transition: all .3s;
    background-color: #0275d8;
    cursor: pointer;
    color: white;
}