<% layout('../../../layouts/user/control-panel/medium/addPattern')%>
<form id="req-form" class="universal-form">
    <input type="hidden" id="hidden-input-in-form">
    <%-partial('../../../partials/user/form-item')%>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Type: </label>
        <select name="service" class="offset-1 offset-sm-0 col-7 custom-select form-control" id="owner-select">
            <option value="" selected>Choose one of the type.</option>
            <option class="option-Rant" value="1" >Sale</option>
            <option class="option-Sale" value="0" >Rent</option>
        </select>
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Owner: </label>
        <select name="Owner id" class="offset-1 offset-sm-0 col-7 custom-select form-control" id="owner-select">
            <option value="" selected>Choose one of the owner.</option>
            <% Owners.forEach(function (owner) {%>
                <option value="<%= owner.owner_id %>" selected><%= owner.surname + " " + owner.name + " " + owner.last_name %></option>
            <% }) %>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="universal-submit">Create flat</button>
    </div>
</form>
<script src="/js/ajax/user/control-panel/add-universal.js" ></script>