<% layout('../../../layouts/user/control-panel/medium/addFlat')%>
<form id="req-form">
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">City: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Street: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Flat: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Room amount: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Stage: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Total floors: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Size: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Owner: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create flat</button>
    </div>
</form>