<% layout('../../../layouts/user/control-panel/medium/addPattern')%>
<form id="req-form">
    <% ColumnName.forEach(function (value) {%>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label"><%-value%>: </label>
        <input type="text" class="offset-1 offset-sm-0 col-7 form-control" id="recipient-name">
    </div>
    <% }) %>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create flat</button>
    </div>
</form>
