<% layout('../../layouts/page.ejs')%>

<% stylesheet('/css/admin.css') %>
<div class="container-fluid">
    <div class="row">
        <%-partial('../../partials/leftNav')%>
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-print mr-2" aria-hidden="true"></i>Print
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="print-deal-summary" href="#">Agent deal's summary</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="print-amount-loc" href="#">Separated link</a>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/js/ajax/user/control-panel/print.js"></script>